@font-face {
  font-family: NM-Bold;
  src: url(./assets/Nanum_Myeongjo/NanumMyeongjo-Bold.ttf);
}

@font-face {
  font-family: NM-Extra-Bold;
  src: url(./assets/Nanum_Myeongjo/NanumMyeongjo-ExtraBold.ttf);
}

@font-face {
  font-family: NM-Regular;
  src: url(./assets/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf);
}

body {
  font-family: NM-Extra-Bold;
  background-color: #07300f;
  color: #edebe9;
}
h1,
h2,
h3,
p {
  background: transparent;
  text-align: center;
}

h1 {
  font-size: 5rem;
  font-family: NM-Bold;
  margin: 25px;
}
h2 {
  font-family: NM-Bold;
  font-size: 30px;
  margin: 10px;
}

h3 {
  font-size: 30px;
  font-family: NM-Extra-Bold;
}

.coming-soon-wrapper {
  position: relative;
}
.coming-soon-wrapper,
.text-wrapper {
  display: flex;
  height: 85vh;
  background: transparent;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-wrapper {
  z-index: 2;
  position: absolute;
  padding-top: 150px;
}

.img-wrapper {
  position: relative;
  top: -40px;
}
.img-wrapper img {
  opacity: 0.6;
}

.ml-embedded {
  padding-top: 30px;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 4rem;
    margin: 25px 50px;
  }
  h3 {
    font-size: 22px;
  }
  .text-wrapper {
    padding-top: 0;
  }
  .img-wrapper {
    top: -165px;
  }
}

@media screen and (max-width: 475px) {
  .img-wrapper,
  .img-wrapper img {
    width: 100%;
  }
  .coming-soon-wrapper {
    height: 97vh;
  }
  h1 {
    margin: 25px;
  }
}

@media screen and (max-width: 475px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
  .coming-soon-wrapper {
    margin: 20px;
    height: 92vh;
  }
}
